* {
    font-family: 'Courier New', Courier, monospace;
}

.main-heading {
    color: orangered;
}

.how-to {
    font-style: italic;
}

.oven {
    color: darkgoldenrod;
}

.description-box {
    background-color: antiquewhite;
}